html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.bg-layout {
  background-color: black;
}

.header {
  font-size: 5rem;
}
.width-login {
    min-width: 40rem;
    height: 35rem;
    margin-top: 10rem;
}


















.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;

}
.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color: red;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: white;
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
